Source: pandoc
Section: text
Priority: optional
Maintainer: Gábor Csárdi <csard.gabor@gmail.com>
Build-Depends: debhelper (>=9), libgmp-dev, cdbs
Standards-Version: 3.9.6
Homepage: https://hackage.haskell.org/package/pandoc

Package: pandoc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Pandoc is a Haskell library for converting from one markup format
  to another, and a command-line tool that uses this library. It can read
  markdown and (subsets of) HTML, reStructuredText, LaTeX, DocBook, MediaWiki
  markup, TWiki markup, Haddock markup, OPML, Emacs Org-Mode, txt2tags and
  Textile, and it can write markdown, reStructuredText, XHTML, HTML 5, LaTeX,
  ConTeXt, DocBook, OPML, OpenDocument, ODT, Word docx, RTF, MediaWiki,
  DokuWiki, Textile, groff man pages, plain text, Emacs Org-Mode, AsciiDoc,
  Haddock markup, EPUB (v2 and v3), FictionBook2, InDesign ICML, and several
  kinds of HTML/javascript slide shows (S5, Slidy, Slideous, DZSlides,
  reveal.js).
  .
  In contrast to most existing tools for converting Markdown to HTML, pandoc
  has a modular design: it consists of a set of readers, which parse text in
  a given format and produce a native representation of the document, and a
  set of writers, which convert this native representation into a target
  format. Thus, adding an input or output format requires only adding a
  reader or writer.
